
.references{
    background-color: #484043;
    background-color: rgb(72, 64, 67);
    background-color: #6E6568;
    background-color: rgb(110, 101, 104);
    background-color: #EAD3A8;
    background-color: rgb(234, 211, 168);
    background-color: #D23641;
    background-color: rgb(210, 54, 65);
    background-color: #FFFFFF;
    background-color: rgb(255, 255, 255);
}

#compsSelection {
    width: 100%;
}

#compsSelection .buttons{
    margin-top: 10px;
    
}

#compsSelection .compsTable{
    width: 100%;
    font-size: 10px;
    margin-top: 10px;
    table-layout: fixed;
}

#compsSelection .compsTable .th,#compsSelection .compsTable .td{
    border-right: 1px solid #333333;
    vertical-align: middle;
}

#compsSelection .compsTable .th{
    background-color: #D23641;
    color: #EAD3A8;
    padding: 5px;
    
}

#compsSelection .compsTable tr{
    background-color: #6E6568;
    color: #EAD3A8;
    height: 42px;
}

#compsSelection .compsTable tr.selected{
    background-color: #EAD3A8;
    color: #D23641;
}

#compsSelection .compsTable .th.state{
    width: 56px;
}

#compsSelection .compsTable .th.settings{
    width: 50px;
}

#compsSelection .compsTable .td .state{
    height: 50px;
    width: 100%;
    cursor: pointer;
}

#compsSelection .compsTable .td .hideExtra{
    padding: 5px;
}

#compsSelection .compsTable .td .hideExtra.state{
    padding: 0;
}

#compsSelection .compsTable .td .hideExtra.settings{
    padding: 0;
    height: 20px;
    cursor: pointer;
}

#compsSelection .compsTable .td .destination{
    cursor: pointer;
}

#compsSelection .compsTable tr .td .destination:hover{
    text-decoration: underline;
}

#compsSelection .settingsView{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    padding-top: 10%;
}

#compsSelection .settingsBox{
    width: 400px;
    padding: 4px 8px 10px 8px;
    border-radius: 2px;
    background-color: #EAD3A8;
    color: #484043;
    margin: auto;
    font-size: 12px;
}

#compsSelection .settingsBox h3{
    margin: 7px 0;
}

#compsSelection div.segmentsTime{
    opacity: .35;
    padding-top: 10px;
    padding-left: 10px;
}

#compsSelection .segments.active div.segmentsTime{
    opacity: 1;   
}

#compsSelection .settingsSeparator{
    border-bottom: 1px solid red;
    padding: 4px;
}
    
